<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand-link">
      <span class="brand-logo-svg"></span>
      <span class="brand-name">WorldExplorer</span>
    </a>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a></li>
    <li><a routerLink="/lista-paises" routerLinkActive="active">Países</a></li>
    <li><a routerLink="/acerca-de" routerLinkActive="active">Acerca de</a></li>
  </ul>
</nav>