<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand-link">
      <span class="brand-logo-svg"></span>
      <span class="brand-name">WorldExplorer</span>
    </a>
  </div>
  <!-- Botón hamburguesa -->
  <button class="menu-toggle" (click)="menuAbierto = !menuAbierto">
    ☰
  </button>

  <ul class="navbar-links" [class.active]="menuAbierto">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="menuAbierto = false"
      >
        Inicio
      </a>
    </li>

    <li>
      <a
        routerLink="/lista-paises"
        routerLinkActive="active"
        (click)="menuAbierto = false"
      >
        Países
      </a>
    </li>

    <li>
      <a
        routerLink="/acerca-de"
        routerLinkActive="active"
        (click)="menuAbierto = false"
      >
        Acerca de
      </a>
    </li>
  </ul>
</nav>